*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
    background-color: #000000;
}

.menu{
    width: auto;
    height: auto;
   
}   
    

   
.navbar{
    width: auto;
    height: auto;
  
    background-color:rgb(5, 5, 238);
 
}



span:active{
    background-color: rgb(156, 156, 199);
    

}
span:hover{
    background-color: rgb(11, 11, 43);
    tex;
}
span{
    background-color: rgb(5, 5, 238);
    padding-bottom: 30px;
    padding: top 1px; ;
}

ul{
    display: flex;
    color: blue;
    
} 


ul li{
    list-style: none;
   
    margin-top: 40PX;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: #ff711e;
    

}

.content{
    width: 550px;
    height: 555px;
    margin-top: 20px;
    color: #fff;
    position: relative;
    background-color: #5e88a5;
    float: left;
    
}

.content .par{
    padding-left: 25px;
    padding-bottom: 25px;
    text-align: justify;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    width: 520px;
    color: #fff;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

a {
    color: #fde406;
    font-size: 20px;
    
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ffd000;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ffd000;
    font-size: 65px
}


img {

   float: right;
   margin-top: 20px;
   background-image: image(2);
   width: 800px;
    height: 555px;

}


.btn{
    width: 100px;
    height: 40px;
    background: #fbff00;
    border: 2px solid #fbff00;
    margin-top: 13px;
    color: #080808;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
td a:hover{
    color: #f70410;
    text-decoration: underline;
   
    border-color: #f70410;

}

td a{
   text-decoration: none;

}
